@import "colors";
@import "mixins";

$arial: arial, sans-serif;
$Didact: 'Didact Gothic', arial, sans-serif;
$Ubuntu: 'Ubuntu', arial, sans-serif;
$Mukta: 'Mukta', arial, sans-serif;

html {
  font-size: 16px;
}


