
/* --- Pug start --- */
.pug-article {

    h1, h2, h3, h4, h5, h6 {
        color: #3949ab;
    }
    pre,
    .example {
        background-color: #f2f4ff;
    }
}
/* ------ */


/* --- CSS start --- */
.css-article {

    h1, h2, h3, h4, h5, h6 {
        color: #7d1935;
    }
    pre,
    .example {
        //background-color: #ffeff3;
        background-color: #fae5eb;
    }
}
/* ------ */


/* --- JS start --- */
.js-article {
    h1, h2, h3, h4, h5, h6 {
        color: #512da8;
    }
    pre,
    .example{
        background-color: #ffeff3;
    }
}
/* ------ */


/* --- Node js start --- */
.node-article {
    h1, h2, h3, h4, h5, h6 {
        color: #00796b;
    }
    pre,
    .example {
        background-color: #ffeff3;
    }
}
/* ------ */


/* --- Angular start --- */
.angular-article {
    h1, h2, h3, h4, h5, h6 {
        color: #c63d0f;
    }
    pre,
    .example {
        background-color: #ebfff6;
    }
}
/* ------ */


/* --- Python start --- */
.python-article {
    h1, h2, h3, h4, h5, h6 {
        color: #1565c0;
    }
    pre,
    .example {
        background-color: #f2f4ff;
    }
}
/* ------ */


/* --- Django start --- */
.django-article {
    h1, h2, h3, h4, h5, h6 {
        color: #007a47;
    }
    pre,
    .example {
        background-color: #ebfff6;
    }
}
/* ------ */


/* --- Git, npm start --- */
.git-article {
    h1, h2, h3, h4, h5, h6 {
        color: #036474;
    }
    pre,
    .example {
        background-color: #d7f1f6;
    }
}
/* ------ */


/* --- Gulp start --- */
.gulp-article {
    h1, h2, h3, h4, h5, h6 {
        color: #CF4647;
    }
    pre,
    .example {
        background-color: #feecec;
    }
}
/* ------ */
